<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="primoz.com.alarmcontinue">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Activities -->
        <activity
            android:name=".views.SplashActivity"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.home.MainActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="" />
        <activity
            android:name=".views.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.alarm.AlarmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".libraries.filepicker.activity.AudioPickActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.settings.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.settings.acknowledgments.AcknowledgmentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.alarm.broadcast.TriggeredAlarmActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Draggable" />

        <!-- File providers -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Broadcast recievers -->

        <receiver
            android:name=".views.alarm.broadcast.ResumeOnBootAlarm"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".views.alarm.broadcast.MyAlarm"
            android:exported="true" />

        <receiver
            android:name=".views.alarm.broadcast.MyAlarmDismiss"
            android:exported="true" />
   <receiver
            android:name=".views.alarm.broadcast.MyAlarmDisable"
            android:exported="true" />

        <receiver
            android:name=".views.alarm.broadcast.MyNotification"
            android:exported="true" />
        <service android:name=".views.alarm.services.SleepReminderService" />
    </application>

</manifest>